@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Fira Code", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url("../img/background.jpeg") ;
    background-size: 100%;
}

@keyframes transicaoEixoX{
    0% {
        transform: translateX(-500px);
        background-color: transparent;
    }
    95%{
        transform: translateX(25px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes transicaoOpacidade{
    from {
        opacity: 0;
    };
    to{
        opacity: 1;
    };
}

h1{
    font-size: 55px;
    animation: transicaoOpacidade 4s;
}
span{
    background-color: #0a866c;
    padding: 5px;
    margin-left: 10px;
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;

    animation: transicaoEixoX 2s;
}