@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

h1 {
    font-weight: 800;
    font-size: 60px;
}

h2 {
    font-weight: 800;
    font-size: 44px;

    color: #ffffff;
}

h3 {
    font-weight: 600;
    font-size: 39px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav {
    flex-grow: 0.6;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #777777;
}



footer {
    background-color: #c2185b;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

footer img {
    margin-bottom: -15px;
}

footer p {
    max-width: 255px;
    color: #ffffff;
    margin: 0;
    font-size: 14px;
}

footer ul {
    list-style: none;
    color: #fff;
    font-size: 20px;
}

footer ul li.title {
    font-weight: bold;
    font-size: 20px;
}
