<footer>
    <div>
        <img src="/img/logo-white.png" alt="Logo Branco">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
        </p>
    </div>

    <ul>
        <li class="title">categorias</li>
        <li>sandálias</li>
        <li>botas</li>
        <li>tênis</li>
        <li>oxford</li>
        <li>coturnos</li>
    </ul>

    <ul>
        <li class="title">institucional</li>
        <li>sobre nós</li>
        <li>perguntas frequentes</li>
        <li>politica de privacidade</li>
        <li>rastreamento de pedidos</li>
        <li>
            <a href="/trabalhe-conosco"> trabalhe conosco</a>
        </li>
        <li>contato</li>
    </ul>
</footer>