<header>
    <img src="/img/logo-color.png" alt="Logo Shoes">

    <nav>
        <ul class="margin-list">
            <li>TODOS OS PRODUTOS</li>
            <li>COLEÇÕES</li>
            <li>OUTLET</li>
        </ul>
    </nav>
</header>